@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root{
    /* Paleta de cores */
    --preto: #000000;
    --vermelho: #e53939;
    --branco: #ffffff;

    --first-contente: #0f0f0f;
    --active: #d66363;
}

body{
    background-color: var(--preto);  
    flex-wrap: wrap;
    position: relative;
    top: 70px;

    & .container-header{
        position: fixed;
        background-color: var(--preto);
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 0;
        height: 70px;
        width: 100%;

        & .container-nav{
            display: flex;
            justify-content: space-around;
            width: 1050px;
            color: var(--branco);
            flex: 1 1 100vw;
            box-shadow: 2px 2px 10px 1px rgba(81, 81, 81, 0.45);

            & .logo{
                text-decoration: none;
                font-size: 40px;
                font-family: "Righteous", sans-serif;
                color: var(--branco);
                & span{
                    color: var(--vermelho);
                    font-family: "Righteous", sans-serif;
                }
            }

            & #isida-bar{
                list-style: none;
                display: flex;
                justify-content: end;
                align-items: center;   
                
                
                & a{
                    position: relative;
                    color: #fff;
                    text-decoration: none;
                    margin: 0 20px;
                    font-size: 20px;
                    padding: 20px 0;
                    
                    &::before{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: 10px;
                    }
                    
                    &:hover::before{
                        animation: asideBar 60ms linear;
                        background-color: var(--vermelho);
                    }
               
                    &:active{
                        color: var(--vermelho);
                    }
                }
            }
        }
    }

    & .container-main{
        background-color: var(--preto);
        color: var(--branco);
        width: 100%;
        text-align: center;
        & .first-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--first-contente);
            width: 100%;
            height: 100vh;

            & .first-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 1050px;


                & .infor-pessoal{
                    font-size: 1.4rem;
                    font-family: "Righteous", sans-serif;
    
                    &  h1 {
                        font-family: "Righteous", sans-serif;
                        font-weight: 100;
                        font-size: 40px;
                    }
    
                    & p{
                        color: var(--branco);

                        & p strong{
                            color: var(--vermelho);
                        }
                    }
                }
            }
        }
    }

    & .footer{
        display: flex;
        margin: 3px;
        background-color: bisque;
        flex: 1 1 100vw;
    }

    & .menu-mobile{
        display: none;
    }
}

@keyframes asideBar {
    0%{
        width: 5%;
    }

    100%{
        width: 100%;
    }
}


