*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: bisque;

    & .container-header{
        display: flex;
        background-color: #000;
        & .container-nav{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            color: #fff;

            & a{
                color: #fff;
                text-decoration: none;
                font-size: 40px;
                font-family: "Righteous", sans-serif;
                & span{
                    color: red;
                    font-family: "Righteous", sans-serif;
                }
            }

            & #isida-bar{
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                /* gap: 40px; */
                height: 40px;

                & a{
                    color: #fff;
                    text-decoration: none;
                    margin: 0 20px;
                    font-size: 20px;
                }
            }
        }
    }

    & .container-main{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 3px;
        background-color: bisque;
        flex: 1 1 100vw;
    }

    & .footer{
        display: flex;
        margin: 3px;
        background-color: bisque;
        flex: 1 1 100vw;
    }
}


