
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Saira, sans-serif;
}

:root{
    /* Paleta de cores */
    --preto: #000000;
    --vermelho: #e53939;
    --branco: #ffffff;

    --first-contente: #0f0f0f;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estilizando o header e o menu */
.container-header{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 1500px;
    height: 60px;
    background-color: var(--preto);
    box-shadow: rgba(61, 61, 61, 0.25) 0px 4px 4px;
    padding: 0.5rem;
    top: 0px;
    z-index: 2;
}

.container-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.logo{
    color: var(--branco);
    font-size: 2rem;
    cursor: pointer;
    margin-top: 0.2rem;
    font-weight: lighter;
    text-decoration: none;
}
.logo span{
    color: var(--vermelho);
    font-weight: bold;
}

.container-nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.container-nav ul li a{
    text-decoration: none;
    color: var(--branco);
    font-family: "Saira Semi Condensed", sans-serif;
    padding: 10px;
    position: relative;
    transition: 0.3s linear;
    &::after{
        content: " ";
        position: absolute;
        width: 0%;
        height: 1px;
        border-radius: 20px;
        bottom: 5px;
        left: 10px;
        background-color: var(--vermelho);
        transition: 0.3s linear;
    }

    &:hover::after{
        background-color: var(--vermelho);
        width: 100%;
    }
}

/* Estilizando meu content */
.container-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.first-section{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    background-color: var(--preto);
}
.first-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--branco);
    width: 1050px;
    height: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--preto);
}

.infor-pessoal{
    font-size: 1.4rem;
    padding: 15px;
    font-family: "Righteous", sans-serif;
}

.infor-pessoal h4 strong{
    color: var(--vermelho);
}

.infor-pessoal span{
    position: relative;
    font-family: "Righteous", sans-serif;
    font-weight: 100;
    /* Adicionando a frase antes do apan */
    &::before{
        content: " ";
        color: var(--vermelho);
        animation: frase 20s infinite;  
    }

    /* Adicionando o cursor depois do span */
    &::after{
        content: " ";
        position: absolute;
        height: 100%;
        border-left: 2px solid var(--vermelho);
        right: -10px;
        width: calc(100% + 13px);
        background-color: var(--preto);
        animation: cursor .8s infinite, revelarFrase 20s steps(15) infinite;
    }

}

@keyframes frase{
    0%, 100%{
        content: "Ismael Nasicmento Vieira"
    }
}

@keyframes cursor {
    0%{
        border-left: 2px solid var(--preto);
    }
}

@keyframes revelarFrase {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }

    5%, 20%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 13px);
    } 
}
/* Estilizandoa a div que dará destaque a imagem */
.box-img{
    position: absolute;
    border: 2px solid var(--vermelho);
    box-shadow: 2px 5px 50px rgba(252, 60, 60, 0.737);
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    right: 50px;
    animation: box-img 2s linear infinite;
    background-color: var(--);
}
.first-container img{
    border-radius: 50%;
    width: 200px;
    animation: img 2s linear infinite;
}

/* Rotação da div destáque */
@keyframes box-img {
    0%{
        transform: rotate(135deg);
    }

    100%{
        transform: rotate(-135deg);
    }
}
/* Centralizando a imagem */
@keyframes img {
    0%{
        transform: rotate(-135deg);
    }

    100%{
        transform: rotate(135deg);
    }
}


/* Estilizando a segunda section onde ficará as informações pessoais */
.second-section{
    background-color: var(--first-contente);
    width: 100%;
    height: 500px;
}
