
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Saira, sans-serif;
}

:root{
    /* Paleta de cores */
    --preto: #000000;
    --vermelho: #e53939;
    --branco: #ffffff;

    --first-contente: #0f0f0f;
    --active: #e16969;
}


body{
    width: 100vw;
    height: 100vh;
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* Estilizando o header e o menu */
.container-header{
    position: fixed;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100vw;
    background-color: var(--preto);
    box-shadow: rgba(61, 61, 61, 0.25) 0px 4px 4px;
    padding: 0.5rem;
    top: 0px;
    z-index: 2;
}

.container-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1050px;
}

.logo{
    color: var(--branco);
    font-size: 40px;
    cursor: pointer;
    margin-top: 0.2rem;
    font-weight: lighter;
    text-decoration: none;
    font-family: "Righteous", sans-serif;
    font-weight: 100;
}
.logo span{
    color: var(--vermelho);
    font-weight: bold;
    font-family: "Righteous", sans-serif;
}

.container-nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.container-nav ul li a{
    text-decoration: none;
    color: var(--branco);
    font-family: "Saira Semi Condensed", sans-serif;
    padding: 10px;
    position: relative;
    transition: 0.3s linear;
    &::after{
        content: " ";
        position: absolute;
        width: 0%;
        height: 1px;
        border-radius: 20px;
        bottom: 5px;
        left: 10px;
        background-color: var(--vermelho);
        transition: 0.3s linear;
    }

    &:hover::after{
        background-color: var(--vermelho);
        width: 100%;
    }

    &:active{
        color: var(--active);
    }
}

/* Estilizando meu content */
.container-main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--preto);
}
.first-section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--first-contente);
}
.first-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--branco);
    width: 1050px;
    height: 430px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--first-contente);
}

.infor-pessoal{
    font-size: 1.4rem;
    font-family: "Righteous", sans-serif;
}
.infor-pessoal p{
    color: var(--branco);
}

.infor-pessoal h1 {
    font-family: "Righteous", sans-serif;
    font-weight: 100;
    font-size: 40px;
}

.infor-pessoal p strong{
    color: var(--vermelho);
}

.infor-pessoal span{
    position: relative;
    font-family: "Righteous", sans-serif;
    font-weight: 100;
    /* Adicionando a frase antes do apan */
    &::before{
        content: " ";
        color: var(--vermelho);
        animation: frase 20s infinite;  
    }

    /* Adicionando o cursor depois do span */
    &::after{
        content: " ";
        position: absolute;
        height: 100%;
        border-left: 2px solid var(--vermelho);
        right: -10px;
        width: calc(100% + 13px);
        background-color: var(--first-contente);
        animation: cursor .8s infinite, revelarFrase 20s steps(15) infinite;
    }

}

@keyframes frase{
    0%, 100%{
        content: "Ismael Nascimento Vieira"
    }
}

@keyframes cursor {
    0%{
        border-left: 2px solid var(--preto);
    }
}

@keyframes revelarFrase {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }

    5%, 20%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 13px);
    } 
}
/* Estilizandoa a div que dará destaque a imagem */
.box-img{
    position: absolute;
    border: 2px solid var(--vermelho);
    box-shadow: 2px 2px 50px rgba(252, 60, 60, 0.607);
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10% 30% 10% 30% / 30% 10% 30% 10%;
    right: 50px;
    animation: box-img 2s linear infinite;
    background-color: var(--first-contente);

    &::before{
        position: absolute;
        content: "";
        border-radius: 10% 30% 10% 30% / 30% 10% 30% 10%;
        background-image:url("../img/background.jpeg");
        width: 100%;
        height: 100%;
    }
}
.first-container img{
    width: 200px;
    border-radius: 50%;
    animation: img 2s linear infinite;
}

/* Rotação da div destáque */
@keyframes box-img {
    0%{
        transform: rotate(-135deg);
    }
    100%{
        transform: rotate(135deg);
    }
}
/* Centralizando a imagem */
@keyframes img {
    0%{
        transform: rotate(135deg);
    }

    100%{
        transform: rotate(-135deg);
    }
}


/* Estilizando a segunda section onde ficará as informações pessoais */
.second-section{
    background-color: var(--preto);
    height: 600px;
    margin-bottom: 60px;
} 

.second-container{
    color: var(--branco);
    width: 1050px;
    height: 100%;
    background-color: var(--preto);
    margin: auto;
}

.second-container h2, .title{
    text-align: center;
    margin: 55px 0 60px 0;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    color: var(--branco);
}
.second-container .tag, .tag{
    color: var(--vermelho);
    font-size: 30px;
    padding: 20px;
}


.second-container .infor-texto{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.infor-texto-column-one{
    width: 400px;
}
.infor-texto-column-one p{
    font-family: "Saira", sans-serif;
    font-size: 20px;
    text-align: justify;
}
/* Estilizando o spin da segunda section */
.custom-loader {
    width: 200px;
    height: 200px;
    display: grid;
    color: var(--vermelho);
    background: 
      linear-gradient(currentColor 0 0) center/100% 3px,
      linear-gradient(currentColor 0 0) center/3px 100%;
    background-repeat: no-repeat;
    animation: spin 5s infinite linear;
  }
  
  .custom-loader::before,
  .custom-loader::after {
    content: "";
    grid-area: 1/1;
    background: repeating-conic-gradient(#0000 0 35deg,currentColor 0 90deg);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 3px),#000 0);
    border-radius: 50%;
  }
  .custom-loader::after {
    margin:20%;
  }
  
  @keyframes spin {
    100% {transform: rotate(1turn)}
  }

  /* Estilizando a terceira section onde vai ficar a parte sobre mim e gostos pesoais */

.third-section{
    background-color: var(--first-contente);
    width: 100%;    
    margin-bottom: 60px;
}
.third-content{
    color: var(--branco);
    height: 490px;
    width: 1050px;
    margin: auto;
}

.third-content .sobre{
    border: 1px solid var(--vermelho);
    border-radius: 5px;
}

.third-content p{
    font-family: "Saira", sans-serif;
    font-size: 20px;
    text-align: justify;
    padding: 20px 10px;
    color: var(--branco);
}

/* Estilizando a quarta section onde ficará meus gostos pessoais */
.three-section{
    background-color: var(--preto);
    color: var(--branco);
    margin-bottom: 60px;
}

.three-section .three-content{
    width: 1050px;
    margin: auto;
}

.three-content .gosto{
    background-color: var(--active);
    background-color: var(--vermelho);
    margin: 25px 0;
    padding: 10px 10px;
    border-radius: 4px;
    color: var(--branco);
    &:hover{
        background-color: var(--first-contente);
        border: 0.5px solid var(--vermelho);
        box-shadow: 2px 2px 20px rgba(255, 0, 0, 0.436);
        color: var(--branco);
        transition: .2s;
        box-shadow: 2px 2px 25px 5px rgba(255, 0, 0, 0.561);
    }
}

.gosto .descrition{
    font-family: "Saira", sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-bottom: 15px;
}

.fourth-section{
    background-color: var(--first-contente);
}

.fourth-content{
    position: relative;
    border: 2px solid var(--vermelho);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: 1050px;
    text-align: justify;
    margin-top: 60px;
    margin-bottom: 40px;

    &::before{
        position: absolute;
        content: "";
        background-color: var(--branco);
        opacity: 0.1;
        width: 99%;
        height: 98%;
        top: 5px;
        left: 5px;
        border-radius: 8px;
    }
}
.fourth-section .fourth-content{
    width: 1050px;
    text-align: justify;
    margin-top: 60px;
    margin-bottom: 40px;
}

.text-motiva{
    font-family: "Saira", sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-bottom: 15px;
    color: var(--branco);
}

/* Criando a suavidade do site */

[data-anime]{
    opacity: 0;
    transition: 0.3s;
}

[data-anime="left"]{
    transform: translate3d(-100px, 0px, 0px);
}

[data-anime="right"]{
    transform: translate3d(100px, 0px, 0px);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}